<footer>
    <div class="container">
        <div class="footer-content">
            <h2>Conatct Us</h2>
            <p>Email : info@wanderblitz.com</p>
            <p>Phone : +91 78985 45612</p>
            <p>Address : Mumbai, India</p>
        </div>
        <div class="footer-content">
            <h2>Quick Links</h2>
            <ul class="list">
                <li><a href="">Home</a></li>
                <li><a href="">List</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h2>Follow Us</h2>
            <ul class="social-icons">
            <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
        </div>
    </div>
    <div class="bottom-bar">
        <p>&copy; 2024 WanderBlitz.  All rights reserved</p>
    </div>
</footer>